<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /sites/private-react
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /sites/private-react/index.html [L]

</IfModule>