@import "./includes/reset";
@import "./includes/colors";
@import "./includes/variables";

/* AOS ANIMATIONS */

@import "./includes/animations";

/* layout */

.container {
  width: 70%;
  margin: 0 auto;

  @media screen and (max-width: $m) {
    width: 80%;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;

  &.align-center {
    align-items: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.no-wrap {
    flex-wrap: nowrap;
  }

  .con {
    box-sizing: border-box;
  }

  .con1 {
    flex: 1;
  }

  .con2 {
    flex: 2;
  }

  .con3 {
    flex: 3;
  }
}

/* btn */

.btn {
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  transform: translateX(0);

  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;

  display: inline-block;
  padding: 14px 30px;
  background: $accent;

  &:hover {
    transform: translateX(6px);
    background: $accent-dark;
    box-shadow: 0 0 10px rgba($accent-dark, 0.4);
  }

  &:focus {
    transform: translateX(9px);
    box-shadow: 0 0 20px rgba($accent, 0.6);
  }
}

/* text */

h1 {
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 64px;
  line-height: 1.1;
  text-decoration: none;
  color: $dark;

  @media screen and (max-width: $m) {
    font-size: 36px;
    line-height: 1.3;
  }
}

h2 {
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 48px;
  line-height: 1.2;
  text-decoration: none;
  color: $dark;

  @media screen and (max-width: $m) {
    font-size: 28px;
    line-height: 1.4;
  }
}

h1, h2, h3 {
  &.color-secondary {
    font-weight: 400;
    color: $grey;
  }
}

h3 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-decoration: none;
  color: $dark;
}

h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: $accent;
}

.text {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.6;
  color: $grey;

  a {
    transition: all ease 0.2s;
    text-decoration: underline;
    
    &:hover {
      color: $dark;
    }
  }
}

p.text {
  font-size: 15px;
  line-height: 1.8;

  &.small {
    font-size: 14px;
  }
}

p {
  &.col2 {
    column-count: 2;
    column-gap: 25px;

    @media screen and (max-width: $m2) {
      column-count: 1;
    }
  }
}

::selection {
  color: $white;
  background: $accent;
}


/* HTML, BODY */

html,
body {
  scroll-behavior: smooth;
  background: $light;
}


/* NAV */

nav {
  z-index: 9;
  top: 0;
  width: 100%;
  padding: 42px 0;
  position: fixed;
  background: $white;

  @media screen and (max-width: $m2) {
    padding: 36px 0;
  }

  .content {
    >.flex {
      @media screen and (max-width: $m2) {
        display: initial;
      }
    }

    ul.navigation {
      transition: all ease 0.4s;
      list-style: none;
      margin: 0 -15px;
      overflow: hidden;

      @media screen and (max-width: $m2) {
        margin: 0;
        height: 0;
      }

      li {
        display: inline;
        margin: 0 15px;

        @media screen and (max-width: $m2) {
          display: block;
          margin: 20px 0;
        }

        a {
          cursor: pointer;
          transition: all ease 0.4s;

          font-family: "Raleway";
          font-weight: 700;
          font-size: 14px;
          text-decoration: none;
          color: $grey;

          @media screen and (max-width: $m2) {
            font-size: 20px;
          }

          &:hover {
            transform: translateX(6px);
            color: $dark;
          }

          &.active {
            color: $black;
          }
        }
      }
    }

    .mobile {
      cursor: pointer;
      color: $dark;
      $size: 28px;
      width: $size;
      height: $size;
      display: none;

      @media screen and (max-width: $m2) {
        display: block;
      }

      &:hover {
        color: $black;
      }
    }
  }
}


/* MAIN */

main {
  padding-top: 100px;

  #contact {
    padding: 150px 0;
    background: $white;

    .content {
      a {
        cursor: pointer;
        display: block;
        text-decoration: none;

        h1 {
          margin-top: 10px;
          max-width: 500px;

          &:hover {
            color: $accent;
          }
        }
      }

      p {
        margin-top: 25px;

        a {
          display: inline;
        }
      }
    }
  }
}

footer {
  padding: 50px 0;
  background: $white;

  .content {
    >.flex {
      margin: -15px;
    }

    .con {
      margin: 15px;
      min-width: 150px;

      @media screen and (max-width: $m) {
        min-width: 100%;
      }
    }

    .details {
      h3 {
        margin-bottom: 10px;
      }

      p {
        max-width: 350px;
      }
    }

    ul {
      h3 {
        margin-bottom: 15px;
      }

      li {
        margin: 10px 0;

        a {
          cursor: pointer;
          transition: all ease 0.2s;

          font-family: "Raleway";
          font-weight: 500;
          font-size: 14px;
          text-decoration: none;
          color: $grey;

          &:hover {
            color: $dark;
          }
        }
      }
    }
  }
}
